<!-- Arquivo de tela da aplicação -->
<app-card-component titulo="Primeiro componente" cor="#B2E7E8">
  <app-first-component></app-first-component>
</app-card-component>
<app-card-component titulo="Interpolation, Pipes, Property Binding and Event Binding:" cor="#B2E7E8">
  <app-second-component></app-second-component>
</app-card-component>
<app-card-component titulo="Customized pipe:" cor="#B2E7E8">
  <app-customized-pipe></app-customized-pipe>
</app-card-component>
<app-card-component titulo="Two-Way Data Binding:" cor="#B2E7E8">
  <app-third-component></app-third-component>
</app-card-component>
<app-card-component titulo="Lista dos celulares:" cor="#B2E7E8">
  <app-fourth-component></app-fourth-component>
</app-card-component>
<app-card-component titulo="Personalized Component:" cor="#B2E7E8">
  <app-personalized-component
  nome="Matheus"
  sobrenome="De Sousa Coimbra"
></app-personalized-component>  
</app-card-component>
<app-card-component titulo="Interacting between components:" cor="#B2E7E8">
  <app-super-component></app-super-component>
</app-card-component>
<app-card-component titulo="Services" cor="#B2E7E8">
<app-service1-component></app-service1-component>
<app-service2-component></app-service2-component>
</app-card-component>
<app-card-component titulo="LifeCycle" cor="#B2E7E8">
  <app-super-lifecycle-component></app-super-lifecycle-component> 
</app-card-component>